.car-details{
padding:70px 0;
}
.details-layout{
display:grid;
grid-template-columns:1fr 1fr;
gap:60px;
align-items:start;
}
.gallery img{
width:100%;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,.15);
}
.vehicle-info h1{
font-size:42px;
margin-bottom:15px;
}
.vehicle-info .price{
font-size:38px;
margin-bottom:20px;
color:#0B7A2F;
}
.vehicle-info p{
font-size:20px;
margin-bottom:30px;
}
.spec-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    margin-top:30px;
}

.spec-grid div{
    background:#f8f8f8;
    padding:18px;
    border-radius:10px;
}