.contact {
    padding: 70px 50px;
    background: #e4f8ff;
}
.contact h2 {
    text-align: center;
    margin-bottom: 40px;
}
.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}
.contact-info,
.map-placeholder {
    flex: 1;
    min-width: 300px;
}
.map-placeholder {
    height: 300px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}